/*colors used throughout HTML/CSS files, :root=selector to select element that represents 
the root of the document, always include var*/
:root{
    --blue-gray: #4b6584;
    --light-gray: #d1d8e0;
    --white: #fff;
    --pastel-green: #bae7a0;
}

/*test out fonts and font-sizes*/
body {
    display:flex;
    flex-direction: column;
    background-color: var(--white);
    font-family: 'open sans' , sans-serif;
    font-size: 16px;
}

/*Review : h1-h6 and how it connects with HTML file*/
h1 {
    font-size: 275%;
    font-weight: 400;
}

h2 {
    color: var(--blue-gray);
    font-size: 275%;
    font-weight: 600;
}

h3 {
    color: var(--blue-gray);
    font-size: 275%;
    font-weight: 600;
}

h4 {
    color: var(--blue-gray);
    font-size: 150%;
    font-weight: 600;
}

h5 {
    color: var(--blue-gray);
    font-size: 275%;
    font-weight: 600;
}

/*justify-content=how browser distributes space between and around content items along main axis of 
flex container and inline axis of grid container*/
header {
    background-color: var(--blue-gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:sticky;
    width: 100%;
}
/*position:sticky=positioned based on user's scroll position, sets position 
according to parent element*/

header .header-title{
    color: var(--white);
    background-color: var(--pastel-green);
    margin-top: 30px;
    margin: 10px 0px 15px 0px;
    padding: 5px 20px 5px 125px;
    min-width: fit-content;
    height: 75px;
}

/*Navigation bar*/
nav {
    margin: 2px 30px 0px 0px;
    align-self: center;
}

nav ul a {
    color: var(--white);
    border-bottom: 4px solid var(--white);
    text-decoration: none;
    display: inline;
    list-style-type: none;
    font-size: 25px;
    margin-right: 20px;
}

/*Display: FLEX*/
main {
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/*connect HTML elements with CSS properties in sections*/
.section-wrapper {
    width: 75%;
    margin-bottom: 40px;
    display: flex;
    align-self: center;
}

.section-title {
    padding: 0px 20px 0px 20px;
    width: 25%;
    text-align: right;
    border-right: 5px solid var(--blue-gray);
}

.about-me {
    padding: 0px 0px 0px 30px;
    width: 80%;
}

.work {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 30px;
    width: 80%;
    justify-content: space-between;

}

/*align-self=overrides grid/flex item's align-items value*/
.work-feature-head{
    background-color: var(--blue-gray);
    border: 5px solid var(--pastel-green);
    display:flex;
    width: 100%;
    height: 350px;
    align-self: flex-end;
    cursor: pointer;
}

.work-feature{
    background-color: var(--blue-gray);
    border: 5px solid var(--pastel-green);
    display: flex;
    width: 49.5%;
    height: 140px;
    margin-top: 10px;
    cursor: pointer;
}

.work-feature-title {
    color: var(--blue-gray);
    background-color: var(--pastel-green);
    height: 75px;
    position:relative;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    align-self: flex-end;
}

/* Adding Hover! and other appearance features*/
.work-feature-head:hover,
.work-feature:hover{
    opacity: 0.75;
}
/* test out px and widths*/
.contact-options{
    display: flex;
    padding: 0px 0px 0px 35px;
    width: 85%;
}

.contact-options ul {
    align-self: center;
    text-decoration: none;
}

.contact-options ul a {
    color: var(--blue-gray);
    border-bottom: 5px solid var(--blue-gray);
    font-size: 25px;
    /* font-weight=thickness of font*/
    font-weight: 550;
    text-decoration: none;
    margin-right: 50px;
}


/*images from activities mockups, all photos in css will be the same
background-repeat=sets how background images are repeated*/
.horiseon {
    background-image: url(Horiseon\ \(1\).png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.miniproject {
    background-image: url(01-app-desktop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wireframing {
    background-image: url(wireframing.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.selectors {
    background-image: url(selectors.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.flexbox {
    background-image: url(flexboxplacement.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*CSS for navigation bar and footer/Contact Info section*/
ul#list li {
    display: inline;

}
ul#contactlist li {
    display: inline;
}

/* CSS File : resonpsiveness, connect with sections, header, footer */
@media only screen and (max-width: 768px) {
    .work {
        flex-direction: column;
    }
    .work-feature {
        width: 100%;
    }
    .section-wrapper {
    width: 100%;
    flex-wrap: wrap;
    }
    .section-title {
        text-align: center;
        border-bottom: 5px solid var(--blue-gray);
        margin-bottom: 20px;
        width: 100%;
        border-right: 0px;
    
    }
    .contactlist a {
        line-height: 50px;
    }

    header .navigation {
        margin-bottom: 20px;
    }
  }